In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
HOME_DIR = Path.cwd()
DATA_DIR = Path(HOME_DIR)

In [2]:
acp_coefficients = pd.read_csv("E:\SAMS\datasets\ACP\R\dim_projection_R.csv", sep=";",index_col=0)

In [3]:
acp_coefficients.head()

,ALLSKY_KT_1,ALLSKY_KT_2,ALLSKY_KT_3,ALLSKY_SRF_ALB_1,ALLSKY_SRF_ALB_2,ALLSKY_SFC_LW_DWN_1,ALLSKY_SFC_LW_DWN_2,ALLSKY_SFC_LW_UP_1,ALLSKY_SFC_LW_UP_2,ALLSKY_SFC_PAR_TOT_1,...,GWETTOP_2,T2M_1,T2M_2,WD2M_1,WD2M_2,WD2M_3,WD2M_4,WD2M_5,WD2M_6,WS2M_1
Var,,,,,,,,,,,,,,,,,,,,,
ALLSKY_KT0,0.753937,-0.505496,-0.153045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ALLSKY_KT1,0.774951,-0.464639,0.011588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ALLSKY_KT10,0.777975,-0.343962,-0.357685,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ALLSKY_KT11,0.765839,-0.493828,-0.268434,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ALLSKY_KT2,0.731291,-0.381285,0.465678,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
Yield_TI_data_1 = pd.read_csv("E:\SAMS\datasets\R\spam2020V1r0_global_Y_TR.csv", sep=",")

In [55]:
point_test = Yield_TI_data_1.iloc[48600]

In [56]:
point_test = pd.DataFrame([point_test])
point_test["pmil_r"]

48600    0.0
Name: pmil_r, dtype: float64

In [57]:
point_test["pmil_r"]

48600    0.0
Name: pmil_r, dtype: float64

In [58]:
columns_clrsky = [col for col in point_test.columns if col.startswith("CLRSKY_DAYS")]
for col in columns_clrsky:
    point_test[col] = point_test[col].str.extract(r'(\d+)').astype(float)

In [59]:
point_test["ALLSKY_KT11"]

48600    0.328125
Name: ALLSKY_KT11, dtype: float64

In [60]:
point_test_var = point_test.drop(columns=["x", "y","lon", "lat"])
point_test_var = point_test_var.drop(columns=[col for col in point_test_var.columns if "_r" in col])
point_test_var = point_test_var.drop(columns=[col for col in point_test_var.columns if "PRECTOTCORR" in col])

In [61]:
point_test_var

,ALLSKY_KT0,ALLSKY_KT1,ALLSKY_KT2,ALLSKY_KT3,ALLSKY_KT4,ALLSKY_KT5,ALLSKY_KT6,ALLSKY_KT7,ALLSKY_KT8,ALLSKY_KT9,...,WS2M2,WS2M3,WS2M4,WS2M5,WS2M6,WS2M7,WS2M8,WS2M9,WS2M10,WS2M11
48600,0.351562,0.421875,0.539062,0.539062,0.4375,0.585938,0.5625,0.578125,0.570312,0.445312,...,3.984375,3.765625,2.695312,2.6875,2.078125,2.289062,3.375,3.195312,3.015625,3.445312

In [62]:
point_vector = point_test_var[acp_coefficients.index]

In [63]:
print(point_vector.shape)
print(point_test_var.shape)

(1, 444)
(1, 444)

In [64]:
point_vector = np.array(point_vector)
acp_coefficients_1 = np.array(acp_coefficients.values)

In [65]:
#point_vector = np.array(point_vector, dtype=float)

In [66]:
point_reduced = np.dot(point_vector, acp_coefficients_1)

In [67]:
point_reduced_vector = point_reduced.flatten()

In [68]:
point_reduced_vector

array([ 4.03813293e+00,  6.89477620e-01,  1.83914292e-01,  1.94786807e+00,
        4.00242432e-01,  3.14888418e+03,  3.48482225e+02,  3.58162931e+03,
        5.05629098e+02,  1.22509844e+02,  4.74117892e+02,  2.27060155e+02,
        1.08947495e+03,  2.29376572e+02,  5.36620368e+01,  1.32576743e+36,
       -8.66294518e+35,  4.50479549e+35, -5.87123332e+33,  1.45820129e+01,
        6.06950722e+01,  9.12231383e-01,  9.89513725e-01,  1.24040192e+01,
        6.53147199e+00, -8.95862405e-01,  1.60049169e+00, -2.53620311e-01,
       -5.41955325e-02,  4.81685683e-02, -8.04198904e-02,  9.41138414e-02,
        1.35266234e-01,  2.84056929e+03,  3.50189185e+02,  3.57620462e+03,
        5.04448952e+02, -6.37548378e+01,  5.68875192e+02, -2.64697907e+02,
        1.25505931e+03,  3.03547106e+02, -6.17556430e+01,  1.64660207e+03,
        1.92154501e+02,  2.94225557e+01,  5.84569370e+02,  4.00197374e+01,
        5.34350450e+02, -5.30858915e+00,  1.75550477e+01,  1.39155168e+01,
        3.72923428e+00,  2.88657177e+03,  2.25860624e+02,  4.07059783e+00,
       -2.88769503e+00,  3.13517184e+00,  1.41747945e-04,  9.83253350e-05,
        5.65773183e-05,  1.29357420e+02,  1.12780353e+02,  6.22283313e+01,
        4.68651448e+00,  8.44613343e-01,  1.52743331e+00,  6.00088334e+00,
       -3.41452400e-01,  7.43720316e+02, -1.74438871e+01,  5.87202474e+00,
       -3.48897350e-01,  5.61172157e-02,  1.74514485e-02,  1.41585050e+01,
        1.18820085e+06,  5.24361012e-01,  5.72278057e+00, -4.65572097e-01,
        2.92373022e+03,  2.03053505e+02,  1.67785740e+03,  2.02694437e+02,
        9.22424447e+01, -1.35713087e+02,  3.22491646e+01,  6.85752687e+01,
        3.55014956e+01])

In [69]:
point_reduced_vector.shape

(89,)

In [70]:
point_reduced_df = pd.DataFrame([point_reduced_vector], columns=acp_coefficients.columns)

In [71]:
point_reduced_df

,ALLSKY_KT_1,ALLSKY_KT_2,ALLSKY_KT_3,ALLSKY_SRF_ALB_1,ALLSKY_SRF_ALB_2,ALLSKY_SFC_LW_DWN_1,ALLSKY_SFC_LW_DWN_2,ALLSKY_SFC_LW_UP_1,ALLSKY_SFC_LW_UP_2,ALLSKY_SFC_PAR_TOT_1,...,GWETTOP_2,T2M_1,T2M_2,WD2M_1,WD2M_2,WD2M_3,WD2M_4,WD2M_5,WD2M_6,WS2M_1
0,4.038133,0.689478,0.183914,1.947868,0.400242,3148.884176,348.482225,3581.629313,505.629098,122.509844,...,-0.465572,2923.730219,203.053505,1677.857398,202.694437,92.242445,-135.713087,32.249165,68.575269,35.501496

In [72]:
selected_columns = [col for col in point_test.columns if 'PRECTOTCORR' in col]
sum_values = point_test[selected_columns].sum(axis=1)/12

In [73]:
sum_values

48600    0.00001
dtype: float64

In [74]:
point_reduced_df['x'] = (point_test['x'].tolist())[0]
point_reduced_df['y'] = (point_test['y'].tolist())[0]
point_reduced_df['mean_PRECTOTCORR'] = (sum_values.tolist())[0]

In [75]:
point_reduced_df

,ALLSKY_KT_1,ALLSKY_KT_2,ALLSKY_KT_3,ALLSKY_SRF_ALB_1,ALLSKY_SRF_ALB_2,ALLSKY_SFC_LW_DWN_1,ALLSKY_SFC_LW_DWN_2,ALLSKY_SFC_LW_UP_1,ALLSKY_SFC_LW_UP_2,ALLSKY_SFC_PAR_TOT_1,...,WD2M_1,WD2M_2,WD2M_3,WD2M_4,WD2M_5,WD2M_6,WS2M_1,x,y,mean_PRECTOTCORR
0,4.038133,0.689478,0.183914,1.947868,0.400242,3148.884176,348.482225,3581.629313,505.629098,122.509844,...,1677.857398,202.694437,92.242445,-135.713087,32.249165,68.575269,35.501496,36.708301,51.958301,0.00001

In [76]:
point_reduced_df = point_reduced_df[['x', 'y'] + [col for col in point_reduced_df.columns if col not in ['x', 'y']]]

In [77]:
point_reduced_df

,x,y,ALLSKY_KT_1,ALLSKY_KT_2,ALLSKY_KT_3,ALLSKY_SRF_ALB_1,ALLSKY_SRF_ALB_2,ALLSKY_SFC_LW_DWN_1,ALLSKY_SFC_LW_DWN_2,ALLSKY_SFC_LW_UP_1,...,T2M_1,T2M_2,WD2M_1,WD2M_2,WD2M_3,WD2M_4,WD2M_5,WD2M_6,WS2M_1,mean_PRECTOTCORR
0,36.708301,51.958301,4.038133,0.689478,0.183914,1.947868,0.400242,3148.884176,348.482225,3581.629313,...,2923.730219,203.053505,1677.857398,202.694437,92.242445,-135.713087,32.249165,68.575269,35.501496,0.00001

In [79]:
import xgboost as xgb
model = xgb.Booster()
model.load_model("E:\SAMS\datasets\ACP\R\pmil_R.json")

In [80]:
feature_names = model.get_fscore()
num_features = len(feature_names)
print(f"Le modÃ¨le utilise {num_features} variables (caractÃ©ristiques).")

Le modÃ¨le utilise 93 variables (caractÃ©ristiques).

In [81]:
data_input = xgb.DMatrix(point_reduced_df)
prediction = model.predict(data_input)
print("Prediction:", prediction)

Prediction: [709.5923]

In [194]:
point_test["whea_i"]

100000    0.0
Name: whea_i, dtype: float64

In [42]:
point_reduced_df = point_reduced_df.to_numpy()

In [45]:
import lightgbm as lgb

In [47]:
model = lgb.Booster(model_file="E:\SAMS\datasets\ACP\R\whea_R.json")

In [48]:
prediction = model.predict(point_reduced_df)

# Afficher la prÃ©diction
print("PrÃ©diction pour le point donnÃ© :", prediction)

LightGBMError: The number of features in data (92) is not the same as it was in training data (93).
You can set ``predict_disable_shape_check=true`` to discard this error, but please be aware what you are doing.